<a href="https://colab.research.google.com/github/adityabisht13/Frission_Assignment/blob/main/02_may_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

   **Assignment Ques**

1.Declare two variables, x and y, and assign them integer values. Swap the
values of these variables without using any temporary variable.

In [ ]:
x = 10     #assign the value to x
y = 20     #assign the value to y
print(f"Before Swap : x = {x} , y = {y}")
x,y = y,x   # the value of x is stored into y and value of x stored in y
print(f"After Swap : x = {x} , y = {y}")

Before Swap : x = 10 , y = 20
After Swap : x = 20 , y = 10

2.Create a program that calculates the area of a rectangle. Take the length and
width as inputs from the user and store them in variables. Calculate and
display the area.

In [ ]:
length = int(input("Enter the length : "))  #input from user
Width = int(input("Enter the Width : "))    #input from user
Area = length * Width     # formula of area of rectangle
print(f"Area is {Area}")

Enter the length: 20
Enter the length: 15
Area is 300


3.Write a Python program that converts temperatures from Celsius to
Fahrenheit. Take the temperature in Celsius as input, store it in a variable,
convert it to Fahrenheit,and display the temperature.

In [ ]:
Celsius = int(input(" Enter the temperature : "))  #input from user
print(f"Temperature in celsius is {Celsius}")
Fahrenheit = (Celsius * 9/5) + 32                  #formula of fahrenheit
print(f"Temperature in fahrenheit is {Fahrenheit}")

 Enter the temperature : 32
Temperature in celsius is 32
Temperature in fahrenheit is 89.6

**Custom Function**

1.Convert string into upper case

In [14]:
def upper(str_1:str)->str:
  str_2=''
  for char in str_1:
    if ord(char)>=90 and ord(char)<=122:
      temp=ord(char)-32
      str_2+=chr(temp)
    else:
      str_2+=char
  return str_2

main=upper('Aditya Bisht')
print(main)

ADITYA BISHT

2.Convert string into lower case

In [26]:
def lower(str_1:str)->str:
  str_2=''
  for char in str_1:
    if ord(char)>=65 and ord(char)<=90:
      temp=ord(char)+32
      str_2+=chr(temp)
    else:
      str_2+=char
  return str_2

main=lower('ADITYA BISHT')
print(main)

aditya bisht

3.Remove extra space from string

In [32]:
def strip(str_1:str)->str:
  first=0
  last=len(str_1)-1
  for i in str_1:             #this loop remove space from left (lstrip)
    if str_1[first]==' ':
        first+=1
  for i in str_1:              #this loop remove space from right (rstrip)
     if str_1[last]==' ':
        last-=1
  return str_1[first:last+1]

main=strip('                  aditya bisht     ')
print(main)

aditya bisht

4.Remove extra space from start in the string

In [33]:
def lstrip(str_1:str)->str:
  first=0
  for i in str_1:             #this loop remove space from left (lstrip)
    if str_1[first]==' ':
        first+=1
  return str_1[first:]

main=lstrip('                  aditya bisht')
print(main)

aditya bisht

5.Remove extra space from last in the string

In [35]:
def rstrip(str_1:str)->str:
  last=len(str_1)-1
  for i in str_1:              #this loop remove space from right (rstrip)
     if str_1[last]==' ':
        last-=1
  return str_1[:last+1]

main=rstrip('aditya bisht      ')
print(main)

aditya bisht

6.Split the string

In [59]:
def split(str_1:str,limiter)->list:
  list_1=[]
  str_2=''
  for char in str_1:
    if char != limiter:
      str_2+=char
    else:
      list_1+=[str_2]
      str_2=''
  list_1+=[str_2]
  return list_1
main = split('I am belong to , uttrakhand'," ")
print(main)

['I', 'am', 'belong', 'to', ',', 'uttrakhand']

7. replace the character

In [70]:
def replace(str_1:str,old:str,new:str)->str:
  str_2=''
  for char in str_1:
    if char == old:
      str_2+=new
    else:
      str_2+=char
  return str_2
main = replace('abitya','b','d')
print(main)

aditya