<a href="https://colab.research.google.com/github/adityabisht13/Frisson_Assignment/blob/main/05_may_DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment_02**

**String**

1.Write a program to reverse a string.

In [ ]:
str_1 = 'Hello World'
str_1[::-1]    #reverse the string

'dlroW olleH'

2.Check if a string is a palindrome.

In [ ]:
str_1 = input("Enter the string: ")
if str_1 == str_1[::-1]:     #checking string
  print('String is palindrome')
else:
  print('String is not palindrome')

Enter the string: nitin
String is palindrome

3.Convert a string to uppercase.

In [ ]:
str_1='Aditya Bisht'
str_1.upper()    #converting string into upper

'ADITYA BISHT'

4.Convert a string to lowercase.

In [ ]:
str_1='Aditya Bisht'
str_1.lower()    #converting string into lower

'aditya bisht'

5.Count the number of vowels in a string.

In [ ]:
str_1='Aditya Bisht'
count=0
for i in str_1:
   if (i=='a')or(i=='e')or(i=='i')or(i=='o')or(i=='u'):  #for checking small letter
    count+=1
   elif (i=='A')or(i=='E')or(i=='I')or(i=='O')or(i=='U'):  #for checking capital letter
    count+=1
   else:
     pass
print(f'The number of vowel in a string are {count}')

The number of vowel in a string are 4

6.Count the number of consonants in a string.

In [ ]:
str_1 ='Aditya Bisht'
vowel='aeiouAEIOU'
count=0
for i in str_1:
  if (i not in vowel)and i != " ": #check through membership operator
    count+=1
  else:
    pass
print(f'The number of consonant in a string are {count}')

The number of consonant in a string are 7

7.Remove all whitespaces from a string.

In [ ]:
str_1 = '  Aditya   Bisht '
str_1.replace(' ','')         #using replace function to remove white space

'AdityaBisht'

8.Find the length of a string without using the `len()` function.

In [ ]:
str_1= 'aditya bisht'
count=0
for i in str_1:
  count+=1
print(f'Length of string is {count}')

Length of string is 12

In [ ]:
#or only count string without white space
str_1= 'aditya bisht'
count=0
for i in str_1:
  if i !=' ':
     count+=1
print(f'Length of string is {count}')

Length of string is 11

9.Check if a string contains a specific word.

In [ ]:
str_1 ='Aditya Bisht'
check_word=input("Enter word to check ")
if check_word in str_1:         #checking word is present in string or not
  print('Yes word is present')
else:
  print('No word is not present')

Enter word to check t
Yes word is present

10.Replace a word in a string with another word

In [ ]:
str_1= 'my age is 22'
str_1.replace('22','21')

'my age is 21'

11.Count the occurrences of a word in a string.

In [ ]:
str_1='Adityaaa Biisht'
word=input('enter the word: ')
count=0
for i in str_1:
  if i == word:  #for counting the occurence of word
    count+=1
  else:
    pass
print(f'The occurence of a word is {count}')

enter the word: a
The occurence of a word is 3

12.Find the first occurrence of a word in a string.

In [ ]:
str_1='Aditya Bisht'
a=str_1.find('i')
print(f'The first occurence of word in the index {a}')

The first occurence of word in the index 2

13.Find the last occurrence of a word in a string.

In [ ]:
str_1= 'Aditya Bisht'
word=input('enter the word: ')
for i in range(len(str_1)-1,-1,-1):       #reverse the loop for checking from last
  if str_1[i] == word :                 #if the word is same print value of i (i is the index position)
    print(f'The last occurence of word in the index {i}')
    break                                 #break is used for only checking one word not checking another same word

enter the word: i
The last occurence of word in the index 8

14.Split a string into a list of words.

In [ ]:
str_1='Aditya Bisht'
str_1.split(' ') #or str_1.split()

['Aditya', 'Bisht']

15.Join a list of words into a string.

In [ ]:
l=['aditya','bisht']
' '.join(l)

'aditya bisht'

16.Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
str_1='Aditya Bisht'
str_1.replace(' ','_')

'Aditya_Bisht'

17.Check if a string starts with a specific word or phrase.

In [ ]:
str_1='Aditya Bisht'
str_1.startswith('Adi')

True

18.Check if a string ends with a specific word or phrase.

In [ ]:
str_1='Aditya Bisht'
str_1.endswith('ht')

True

19.Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
str_1='aditya bisht'
str_1.title()

'Aditya Bisht'

20.Find the longest word in a string.

In [ ]:
str_1 ='aditya bisht age 21'
a=str_1.split()
#k=max(a,key=len)  #key is use for checking len of every word
#print(k)

#or another method

x=''
for i in a:
  if len(i)>len(x):
    x=i
print(f'the longest word in a string is {x}')

the longest word in a string is aditya

21. Find the shortest word in a string.

In [ ]:
str_1 ='aditya bisht age 21'
a=str_1.split()
# k=min(a,key=len)  #key is use for checking len of every word
# print(k)

#or another method

x=None
for i in a:
  if x==None:
    x=i
  if len(i)<len(x):
    x=i
print(f'the smallest word in a string is {x}')

21

22.Reverse the order of words in a string.

In [ ]:
str_1='Aditya Bisht'
for i in range(len(str_1)-1,-1,-1) :  #reverse the order through loop also be done by indexing([::-1])
  print(str_1[i],end="")

thsiB aytidA

23.Check if a string is alphanumeric.

In [ ]:
str_1 ='adity1abisht'    #only contain digit and number no white space or any character
str_1.isalnum()

True

24.Extract all digits from a string.

In [ ]:
str_1='aditya112bisht and1'
for i in str_1:
  if i.isdigit():    #is digit use for checking digit in string
    print(i,end=' ')

1 1 2 1

25.Extract all alphabets from a string.

In [ ]:
str_1='aditya112bisht and1'
for i in str_1:
  if i.isalpha():        #is alpha use for checking word in string
    print(i,end=' ')

a d i t y a b i s h t a n d

26.Count the number of uppercase letters in a string.

In [ ]:
str_1='AdiTYAbisht'
count=0
for i in str_1:
  if 'A'<=i<='Z': #for checking capital letter
    count+=1
print(f'the number of uppercase letters in a string are {count}')

the number of uppercase letters in a string are 4

27.Count the number of lowercase letters in a string

In [ ]:
str_1='AdiTYAbisht'
count=0
for i in str_1:
  if 'a'<=i<='z': #for checking capital letter
    count+=1
print(f'the number of lowercase letters in a string are {count}')

the number of lowercase letters in a string are 7

28.Swap the case of each character in a string.

In [ ]:
str_1 ='Aditya BISHT'
str_1.swapcase()

'aDITYA bisht'

29.Remove a specific word from a string

In [ ]:
str_1='aditya bisht'
word=input('enter a word: ')
str_1.replace(word,'')

enter a word:  bisht

'aditya'

30.Check if a string is a valid email address.

In [ ]:
str_1=input("enter the email: ")
a=str_1.count('@gmail.com')
b=str_1.startswith('@gmail.com')
c=str_1.startswith(' ')
if( b == False and c== False )and(str_1.endswith('@gmail.com')and a==1): #email does not contain blank space on start or does not contain only @gmail.count
  print('email is valid')
else:
  print('email is not valid')

enter the email: adityabisht13@gmail.com
email is valid

31.Extract the username from an email address string.

In [ ]:
str_1='adityabisht13@gmail.com'
str_1[:str_1.find('@gmail.com')] #extracting the username

'adityabisht13'

32.Extract the domain name from an email address string

In [ ]:
str_1='adityabisht13@gmail.com'
str_1[str_1.find('@'):] #extracting domain name

'@gmail.com'

33.Replace multiple spaces in a string with a single space.

In [ ]:
a='aditya  bi   sht '
print(' '.join(a.split()))

aditya bi sht

34.Check if a string is a valid URL.

In [ ]:
str_1=input("enter the url: ")
a=str_1.count('https://')
b=str_1.count('http://')
x=str_1.startswith('https://')
y=str_1.startswith('https://')
z=str_1.endswith('/')
n=str_1.endswith(' ')
if( x == True  and a==1)and (b==0 and z==False and n==False):  #checking all condition like https:// not end with / or ' ' and in a url https:// or http:// both are not present in single url
  print('url is valid')
elif( y == True  and b==1)and (a==0 and z==False and n == False): #checking all condition like http:// not end with / or ' ' and in a url https:// or http:// both are not present in single url
  print('url is valid')

else:
  print('url is not valid')

enter the url: https://colab.research.google.com/drive/1ba-4pIx1AD6Diy2uD6YeShASdnqpCMyT#scrollTo=skKklK8vcLHc
url is valid

 35.Extract the protocol (http or https) from a URL string.

In [ ]:
str_1=input('Enter the url: ')
str_1[:str_1.find(':')]

Enter the url: https://colab.research.google.com/drive/1ba-4pIx1AD6Diy2uD6YeShASdnqpCMyT#scrollTo=skKklK8vcLHc

'https'

36.Find the frequency of each character in a string.

In [ ]:
str_1 = 'adiitya biissht'
dict={}
for i in str_1:
  if i not in dict:
    dict[i]=count+1
  else:
    dict[i]+=1
print(dict)

{'a': 2, 'd': 1, 'i': 4, 't': 2, 'y': 1, ' ': 1, 'b': 1, 's': 2, 'h': 1}

37.Remove all punctuation from a string.

In [ ]:
str_1=input("Enter the string ")
punctuation="!@#$%^&*()"
result=""
for i in str_1:
  if i not in punctuation:
    result+=i
print(result)

Enter the string adi@tya!bis#ht
adityabisht

38.Check if a string contains only digits.

In [ ]:
str_1='aditya12'
str_2='7838412'
print(str_1.isdigit())
print(str_2.isdigit())

False
True

39.Check if a string contains only alphabets.

In [ ]:
str_1='aditya12'
str_2='aaditya'
print(str_1.isalpha())
print(str_2.isalpha())

False
True

40.Convert a string to a list of characters.

In [ ]:
str_1='aditya bisht'
l=[]
for i in str_1:
  l+=[i]
print(l)

['a', 'd', 'i', 't', 'y', 'a', ' ', 'b', 'i', 's', 'h', 't']

41.Check if two strings are anagrams.

In [ ]:
str_1=input('enter string one: ')
str_2=input('enter string two: ')
if sorted(str_1)==sorted(str_2): #convert str_1 and str_2 in list and sort in ascending oder than compare
  print(f'Strings are anagrams ')
else:
  print(f'Strings are not anagrams ')

enter string one: mug
enter string two: gum
Strings are anagrams

42.Encode a string using a Caesar cipher.

In [ ]:
str_1='aditya'
cipher_str=''
for i in str_1:
  i=ord(i)+3
  b=chr(i)
  cipher_str+=b
print(cipher_str)

dglw|d

43.Decode a Caesar cipher encoded string.

In [ ]:
str_1='dglw|d'
cipher_str=''
for i in str_1:
  i=ord(i)-3
  b=chr(i)
  cipher_str+=b
print(cipher_str)

aditya

44.Find the most frequent word in a string.

In [ ]:
str_1=input("Enter the string: ")
str_2=str_1.split()
dict={}
count=0
for i in str_2:
  if i in dict:  #maing dictionary first
    dict[i]+=1
  else:
    dict[i]=1

for j in dict:
  if dict[j]>count:  #for checking which occur most than return the word
    count=dict[j]
    result=j

print(f"the most frequent word is: {result}")

Enter the string: i am 21 year old i live in uk i like to play chess
the most frequent word is: i

45.Find all unique words in a string.

In [ ]:
str_1='adityaabiisht'
a=list(set(str_1))
result=''.join(a)
print(f'Unique words are: {result}')

Unique words are: ashtydbi

46.Count the number of syllables in a string.

In [ ]:
#space for code

47.Check if a string contains any special characters.

In [2]:
str_1=input("Enter the string: ")
x='!@#$%^&*()'
count=0
for i in str_1:
  if i in x:
    count+=1
print(f'There are total {count} special characters in the string')

Enter the string: #adi@ty%a
There are total 3 special characters in the string

48.Remove the nth word from a string.

In [9]:
str_1=input("enter a string: ")
n=int(input("enter the number of the element to be remove: "))
str_2=str_1.split()
str_2.pop(n-1)   #for removing value from index
print(" ".join(str_2))

enter a string: aditya bisht from uttrakhand
enter the number of the element to be remove: 3
aditya bisht uttrakhand

49.Insert a word at the nth position in a string

In [11]:
str_1=input("enter a string: ")
n=int(input("enter the number of the element to be add: "))
word=input('enter a word: ')
str_2=str_1.split()
str_2.insert(n-1,word) #for inserting word with help of index
print(" ".join(str_2))

enter a string: aditya bisht uttrakhand
enter the number of the element to be add: 3
enter a word: from
aditya bisht from uttrakhand

50.Convert a CSV string to a list of lists.

In [ ]:
#space for code

**List**

1.Create a list with integers from 1 to 10

In [16]:
l=[]
for i in range(1,11):
  l+=[i]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.Find the length of a list without using the `len()` function.

In [13]:
l=[1,2,3,4,5,6,7,8,9,10]
count=0
for i in l:
  count+=1
print(count)

10

3.Append an element to the end of a list.

In [18]:
l=[1,2,3,4,5]
n=int(input('enter a no to append an element: '))
l.append(n)
print(l)

enter a no to append an element: 6
[1, 2, 3, 4, 5, 6]

4.Insert an element at a specific index in a list.

In [19]:
l=[1,2,3,4,5]
x=int(input('enter a  element: '))
y=int(input('enter a index no: '))
l.insert(y-1,x)
print(l)

enter a  element: 7
enter a index no: 3
[1, 2, 7, 3, 4, 5]

5.Remove an element from a list by its value.

In [20]:
l=[1,2,3,4,5]
x=int(input('enter a  element to remove: '))
l.remove(x)  #remove by value
print(l)

enter a  element to remove: 3
[1, 2, 4, 5]

6.Remove an element from a list by its index.

In [22]:
l=[1,2,3,4,5]
x=int(input('enter a index no: '))
l.pop(x-1) #remove by index
print(l)

enter a index no: 3
[1, 2, 4, 5]

7.Check if an element exists in a list.

In [24]:
l=[1,2,3,4,5]
x=int(input('enter element to check: '))
if x in l:
  print('Element is exist')
else:
  print('Element is not exist')

enter element to check: 3
Element is exist

8.Find the index of the first occurrence of an element in a list.

In [26]:
l=[1,2,3,4,3,5]
x=int(input('enter element to find index of first occurence: '))
l.index(x)

enter element to find index of first occurence: 3

2

9.Count the occurrences of an element in a list.

In [27]:
l=[1,2,3,4,3,5]
x=int(input('enter element to find index of first occurence: '))
l.count(x)

enter element to find index of first occurence: 3

2

10.Reverse the order of elements in a list.

In [28]:
l=[1,2,3,4,3,5]
l[::-1]

[5, 3, 4, 3, 2, 1]

11.Sort a list in ascending order.

In [33]:
l=[1,4,5,2,3,4,3,5]
l.sort()
print(l)

[1, 2, 3, 3, 4, 4, 5, 5]

12.Sort a list in descending order.

In [34]:
l=[1,4,5,2,3,4,3,5]
l.sort()
l.reverse()
print(l)

[5, 5, 4, 4, 3, 3, 2, 1]

13.Create a list of even numbers from 1 to 20.

In [35]:
l=[i for i in range (1,21) if i%2==0]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14.Create a list of odd numbers from 1 to 20.

In [36]:
l=[i for i in range (1,21) if i%2!=0]
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15.Find the sum of all elements in a list.

In [39]:
l=[1,2,3,4,5,6,7]
print(sum(l))

28

16.Find the maximum value in a list.

In [40]:
l=[1,2,3,4,5,6,7]
print(max(l))

7

17.Find the minimum value in a list.

In [41]:
l=[1,2,3,4,5,6,7]
print(min(l))

1

18.Create a list of squares of numbers from 1 to 10.

In [42]:
l=[i*i for i in range (1,11) ]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19.Create a list of random numbers.

In [44]:
import random      #importing random for random number
l=[]
for i in range(0,11):
  l.append(random.randint(0,20)) #randint for choosing number from 0 to 20
print(l)

[10, 20, 3, 19, 3, 11, 1, 5, 10, 9, 20]

20.Remove duplicates from a list.

In [45]:
l=[1,2,3,4,3,4,5,2,3,1]
a=list(set(l))
print(a)

[1, 2, 3, 4, 5]

21.Find the common elements between two lists.

In [50]:
l1=[1,2,3,4,5,6,9]
l2=[2,3,5]
l3=[]
for i in l1:
  if i in l2:
    l3.append(i)
print(f'by loop: {l3}')

#or
res=list(set(l1).intersection(set(l2)))
print(f'by intersection through set: {res}')

by loop: [2, 3, 5]
by intersection through set: [2, 3, 5]

22.Find the difference between two lists.

In [51]:
l1=[1,2,3,4,5,6,9]
l2=[2,3,5]
l3=[]
for i in l1:
  if i not in l2:
    l3.append(i)
print(l3)

[1, 4, 6, 9]

23.Merge two lists.

In [53]:
l1=[1,2,3,4,5,6,9]
l2=[2,3,5]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 9, 2, 3, 5]

24.Multiply all elements in a list by 2.

In [54]:
l=[i*2 for i in range (1,11) ]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25.Filter out all even numbers from a list.

In [58]:
l1=[1,2,6,8,7,10,20,43,24,25]
l2=[l1[i] for i in range (len(l1)) if l1[i]%2==0]
print(l2)

[2, 6, 8, 10, 20, 24]