<a href="https://colab.research.google.com/github/adityabisht13/Frisson_Assignment/blob/main/05_may_DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment_02**

**String**

1.Write a program to reverse a string.

In [ ]:
str_1 = 'Hello World'
str_1[::-1]    #reverse the string

'dlroW olleH'

2.Check if a string is a palindrome.

In [ ]:
str_1 = input("Enter the string: ")
if str_1 == str_1[::-1]:     #checking string
  print('String is palindrome')
else:
  print('String is not palindrome')

Enter the string: nitin
String is palindrome

3.Convert a string to uppercase.

In [ ]:
str_1='Aditya Bisht'
str_1.upper()    #converting string into upper

'ADITYA BISHT'

4.Convert a string to lowercase.

In [ ]:
str_1='Aditya Bisht'
str_1.lower()    #converting string into lower

'aditya bisht'

5.Count the number of vowels in a string.

In [ ]:
str_1='Aditya Bisht'
count=0
for i in str_1:
   if (i=='a')or(i=='e')or(i=='i')or(i=='o')or(i=='u'):  #for checking small letter
    count+=1
   elif (i=='A')or(i=='E')or(i=='I')or(i=='O')or(i=='U'):  #for checking capital letter
    count+=1
   else:
     pass
print(f'The number of vowel in a string are {count}')

The number of vowel in a string are 4

6.Count the number of consonants in a string.

In [ ]:
str_1 ='Aditya Bisht'
vowel='aeiouAEIOU'
count=0
for i in str_1:
  if (i not in vowel)and i != " ": #check through membership operator
    count+=1
  else:
    pass
print(f'The number of consonant in a string are {count}')

The number of consonant in a string are 7

7.Remove all whitespaces from a string.

In [ ]:
str_1 = '  Aditya   Bisht '
str_1.replace(' ','')         #using replace function to remove white space

'AdityaBisht'

8.Find the length of a string without using the `len()` function.

In [ ]:
str_1= 'aditya bisht'
count=0
for i in str_1:
  count+=1
print(f'Length of string is {count}')

Length of string is 12

In [ ]:
#or only count string without white space
str_1= 'aditya bisht'
count=0
for i in str_1:
  if i !=' ':
     count+=1
print(f'Length of string is {count}')

Length of string is 11

9.Check if a string contains a specific word.

In [ ]:
str_1 ='Aditya Bisht'
check_word=input("Enter word to check ")
if check_word in str_1:         #checking word is present in string or not
  print('Yes word is present')
else:
  print('No word is not present')

Enter word to check t
Yes word is present

10.Replace a word in a string with another word

In [ ]:
str_1= 'my age is 22'
str_1.replace('22','21')

'my age is 21'

11.Count the occurrences of a word in a string.

In [ ]:
str_1='Adityaaa Biisht'
word=input('enter the word: ')
count=0
for i in str_1:
  if i == word:  #for counting the occurence of word
    count+=1
  else:
    pass
print(f'The occurence of a word is {count}')

enter the word: a
The occurence of a word is 3

12.Find the first occurrence of a word in a string.

In [ ]:
str_1='Aditya Bisht'
a=str_1.find('i')
print(f'The first occurence of word in the index {a}')

The first occurence of word in the index 2

13.Find the last occurrence of a word in a string.

In [ ]:
str_1= 'Aditya Bisht'
word=input('enter the word: ')
for i in range(len(str_1)-1,-1,-1):       #reverse the loop for checking from last
  if str_1[i] == word :                 #if the word is same print value of i (i is the index position)
    print(f'The last occurence of word in the index {i}')
    break                                 #break is used for only checking one word not checking another same word

enter the word: i
The last occurence of word in the index 8

14.Split a string into a list of words.

In [ ]:
str_1='Aditya Bisht'
str_1.split(' ') #or str_1.split()

['Aditya', 'Bisht']

15.Join a list of words into a string.

In [ ]:
l=['aditya','bisht']
' '.join(l)

'aditya bisht'

16.Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
str_1='Aditya Bisht'
str_1.replace(' ','_')

'Aditya_Bisht'

17.Check if a string starts with a specific word or phrase.

In [ ]:
str_1='Aditya Bisht'
str_1.startswith('Adi')

True

18.Check if a string ends with a specific word or phrase.

In [ ]:
str_1='Aditya Bisht'
str_1.endswith('ht')

True

19.Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
str_1='aditya bisht'
str_1.title()

'Aditya Bisht'

20.Find the longest word in a string.

In [ ]:
str_1 ='aditya bisht age 21'
a=str_1.split()
#k=max(a,key=len)  #key is use for checking len of every word
#print(k)

#or another method

x=''
for i in a:
  if len(i)>len(x):
    x=i
print(f'the longest word in a string is {x}')

the longest word in a string is aditya

21. Find the shortest word in a string.

In [ ]:
str_1 ='aditya bisht age 21'
a=str_1.split()
# k=min(a,key=len)  #key is use for checking len of every word
# print(k)

#or another method

x=None
for i in a:
  if x==None:
    x=i
  if len(i)<len(x):
    x=i
print(f'the smallest word in a string is {x}')

21

22.Reverse the order of words in a string.

In [ ]:
str_1='Aditya Bisht'
for i in range(len(str_1)-1,-1,-1) :  #reverse the order through loop also be done by indexing([::-1])
  print(str_1[i],end="")

thsiB aytidA

23.Check if a string is alphanumeric.

In [ ]:
str_1 ='adity1abisht'    #only contain digit and number no white space or any character
str_1.isalnum()

True

24.Extract all digits from a string.

In [ ]:
str_1='aditya112bisht and1'
for i in str_1:
  if i.isdigit():    #is digit use for checking digit in string
    print(i,end=' ')

1 1 2 1

25.Extract all alphabets from a string.

In [ ]:
str_1='aditya112bisht and1'
for i in str_1:
  if i.isalpha():        #is alpha use for checking word in string
    print(i,end=' ')

a d i t y a b i s h t a n d

26.Count the number of uppercase letters in a string.

In [ ]:
str_1='AdiTYAbisht'
count=0
for i in str_1:
  if 'A'<=i<='Z': #for checking capital letter
    count+=1
print(f'the number of uppercase letters in a string are {count}')

the number of uppercase letters in a string are 4

27.Count the number of lowercase letters in a string

In [ ]:
str_1='AdiTYAbisht'
count=0
for i in str_1:
  if 'a'<=i<='z': #for checking capital letter
    count+=1
print(f'the number of lowercase letters in a string are {count}')

the number of lowercase letters in a string are 7

28.Swap the case of each character in a string.

In [ ]:
str_1 ='Aditya BISHT'
str_1.swapcase()

'aDITYA bisht'

29.Remove a specific word from a string

In [ ]:
str_1='aditya bisht'
word=input('enter a word: ')
str_1.replace(word,'')

enter a word:  bisht

'aditya'

30.Check if a string is a valid email address.

In [ ]:
str_1=input("enter the email: ")
a=str_1.count('@gmail.com')
b=str_1.startswith('@gmail.com')
c=str_1.startswith(' ')
if( b == False and c== False )and(str_1.endswith('@gmail.com')and a==1): #email does not contain blank space on start or does not contain only @gmail.count
  print('email is valid')
else:
  print('email is not valid')

enter the email: adityabisht13@gmail.com
email is valid

31.Extract the username from an email address string.

In [ ]:
str_1='adityabisht13@gmail.com'
str_1[:str_1.find('@gmail.com')] #extracting the username

'adityabisht13'

32.Extract the domain name from an email address string

In [ ]:
str_1='adityabisht13@gmail.com'
str_1[str_1.find('@'):] #extracting domain name

'@gmail.com'

33.Replace multiple spaces in a string with a single space.

In [ ]:
a='aditya  bi   sht '
print(' '.join(a.split()))

aditya bi sht

34.Check if a string is a valid URL.

In [ ]:
str_1=input("enter the url: ")
a=str_1.count('https://')
b=str_1.count('http://')
x=str_1.startswith('https://')
y=str_1.startswith('https://')
z=str_1.endswith('/')
n=str_1.endswith(' ')
if( x == True  and a==1)and (b==0 and z==False and n==False):  #checking all condition like https:// not end with / or ' ' and in a url https:// or http:// both are not present in single url
  print('url is valid')
elif( y == True  and b==1)and (a==0 and z==False and n == False): #checking all condition like http:// not end with / or ' ' and in a url https:// or http:// both are not present in single url
  print('url is valid')

else:
  print('url is not valid')

enter the url: https://colab.research.google.com/drive/1ba-4pIx1AD6Diy2uD6YeShASdnqpCMyT#scrollTo=skKklK8vcLHc
url is valid

 35.Extract the protocol (http or https) from a URL string.

In [ ]:
str_1=input('Enter the url: ')
str_1[:str_1.find(':')]

Enter the url: https://colab.research.google.com/drive/1ba-4pIx1AD6Diy2uD6YeShASdnqpCMyT#scrollTo=skKklK8vcLHc

'https'

36.Find the frequency of each character in a string.

In [ ]:
str_1 = 'adiitya biissht'
dict={}
for i in str_1:
  if i not in dict:
    dict[i]=count+1
  else:
    dict[i]+=1
print(dict)

{'a': 2, 'd': 1, 'i': 4, 't': 2, 'y': 1, ' ': 1, 'b': 1, 's': 2, 'h': 1}

37.Remove all punctuation from a string.

In [ ]:
str_1=input("Enter the string ")
punctuation="!@#$%^&*()"
result=""
for i in str_1:
  if i not in punctuation:
    result+=i
print(result)

Enter the string adi@tya!bis#ht
adityabisht

38.Check if a string contains only digits.

In [ ]:
str_1='aditya12'
str_2='7838412'
print(str_1.isdigit())
print(str_2.isdigit())

False
True

39.Check if a string contains only alphabets.

In [ ]:
str_1='aditya12'
str_2='aaditya'
print(str_1.isalpha())
print(str_2.isalpha())

False
True

40.Convert a string to a list of characters.

In [ ]:
str_1='aditya bisht'
l=[]
for i in str_1:
  l+=[i]
print(l)

['a', 'd', 'i', 't', 'y', 'a', ' ', 'b', 'i', 's', 'h', 't']

41.Check if two strings are anagrams.

In [ ]:
str_1=input('enter string one: ')
str_2=input('enter string two: ')
if sorted(str_1)==sorted(str_2): #convert str_1 and str_2 in list and sort in ascending oder than compare
  print(f'Strings are anagrams ')
else:
  print(f'Strings are not anagrams ')

enter string one: mug
enter string two: gum
Strings are anagrams

42.Encode a string using a Caesar cipher.

In [ ]:
str_1='aditya'
cipher_str=''
for i in str_1:
  i=ord(i)+3
  b=chr(i)
  cipher_str+=b
print(cipher_str)

dglw|d

43.Decode a Caesar cipher encoded string.

In [ ]:
str_1='dglw|d'
cipher_str=''
for i in str_1:
  i=ord(i)-3
  b=chr(i)
  cipher_str+=b
print(cipher_str)

aditya

44.Find the most frequent word in a string.

In [ ]:
str_1=input("Enter the string: ")
str_2=str_1.split()
dict={}
count=0
for i in str_2:
  if i in dict:  #maing dictionary first
    dict[i]+=1
  else:
    dict[i]=1

for j in dict:
  if dict[j]>count:  #for checking which occur most than return the word
    count=dict[j]
    result=j

print(f"the most frequent word is: {result}")

Enter the string: i am 21 year old i live in uk i like to play chess
the most frequent word is: i

45.Find all unique words in a string.

In [ ]:
str_1='adityaabiisht'
a=list(set(str_1))
result=''.join(a)
print(f'Unique words are: {result}')

Unique words are: ashtydbi

46.Count the number of syllables in a string.

In [ ]:
#space for code

47.Check if a string contains any special characters.

In [ ]:
str_1=input("Enter the string: ")
x='!@#$%^&*()'
count=0
for i in str_1:
  if i in x:
    count+=1
print(f'There are total {count} special characters in the string')

Enter the string: #adi@ty%a
There are total 3 special characters in the string

48.Remove the nth word from a string.

In [ ]:
str_1=input("enter a string: ")
n=int(input("enter the number of the element to be remove: "))
str_2=str_1.split()
str_2.pop(n-1)   #for removing value from index
print(" ".join(str_2))

enter a string: aditya bisht from uttrakhand
enter the number of the element to be remove: 3
aditya bisht uttrakhand

49.Insert a word at the nth position in a string

In [ ]:
str_1=input("enter a string: ")
n=int(input("enter the number of the element to be add: "))
word=input('enter a word: ')
str_2=str_1.split()
str_2.insert(n-1,word) #for inserting word with help of index
print(" ".join(str_2))

enter a string: aditya bisht uttrakhand
enter the number of the element to be add: 3
enter a word: from
aditya bisht from uttrakhand

50.Convert a CSV string to a list of lists.

In [ ]:
import pandas as pd

text = ['''
adi,bisht,uk
pandas,numpy,python
seaborn,stats,done''']

df = pd.DataFrame({"text":text})
df.to_csv("text.csv")

In [ ]:
x=[]
a=open("text.csv")
f= a.read()
b=str(f).split()
for i in b:
  x.append([i])
print(x[2:])  #0 index is [',text'],1 index is ['0,"'] (because data store in tabular form i onnly want main content)
a.close()

[['adi,bisht,uk'], ['pandas,numpy,python'], ['seaborn,stats,done"']]

**List**

1.Create a list with integers from 1 to 10

In [ ]:
l=[]
for i in range(1,11):
  l+=[i]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.Find the length of a list without using the `len()` function.

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
count=0
for i in l:
  count+=1
print(count)

10

3.Append an element to the end of a list.

In [ ]:
l=[1,2,3,4,5]
n=int(input('enter a no to append an element: '))
l.append(n)
print(l)

enter a no to append an element: 6
[1, 2, 3, 4, 5, 6]

4.Insert an element at a specific index in a list.

In [ ]:
l=[1,2,3,4,5]
x=int(input('enter a  element: '))
y=int(input('enter a index no: '))
l.insert(y-1,x)
print(l)

enter a  element: 7
enter a index no: 3
[1, 2, 7, 3, 4, 5]

5.Remove an element from a list by its value.

In [ ]:
l=[1,2,3,4,5]
x=int(input('enter a  element to remove: '))
l.remove(x)  #remove by value
print(l)

enter a  element to remove: 3
[1, 2, 4, 5]

6.Remove an element from a list by its index.

In [ ]:
l=[1,2,3,4,5]
x=int(input('enter a index no: '))
l.pop(x-1) #remove by index
print(l)

enter a index no: 3
[1, 2, 4, 5]

7.Check if an element exists in a list.

In [ ]:
l=[1,2,3,4,5]
x=int(input('enter element to check: '))
if x in l:
  print('Element is exist')
else:
  print('Element is not exist')

enter element to check: 3
Element is exist

8.Find the index of the first occurrence of an element in a list.

In [ ]:
l=[1,2,3,4,3,5]
x=int(input('enter element to find index of first occurence: '))
l.index(x)

enter element to find index of first occurence: 3

2

9.Count the occurrences of an element in a list.

In [ ]:
l=[1,2,3,4,3,5]
x=int(input('enter element to find index of first occurence: '))
l.count(x)

enter element to find index of first occurence: 3

2

10.Reverse the order of elements in a list.

In [ ]:
l=[1,2,3,4,3,5]
l[::-1]

[5, 3, 4, 3, 2, 1]

11.Sort a list in ascending order.

In [ ]:
l=[1,4,5,2,3,4,3,5]
l.sort()
print(l)

[1, 2, 3, 3, 4, 4, 5, 5]

12.Sort a list in descending order.

In [ ]:
l=[1,4,5,2,3,4,3,5]
l.sort()
l.reverse()
print(l)

[5, 5, 4, 4, 3, 3, 2, 1]

13.Create a list of even numbers from 1 to 20.

In [ ]:
l=[i for i in range (1,21) if i%2==0]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14.Create a list of odd numbers from 1 to 20.

In [ ]:
l=[i for i in range (1,21) if i%2!=0]
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15.Find the sum of all elements in a list.

In [ ]:
l=[1,2,3,4,5,6,7]
print(sum(l))

28

16.Find the maximum value in a list.

In [ ]:
l=[1,2,3,4,5,6,7]
print(max(l))

7

17.Find the minimum value in a list.

In [ ]:
l=[1,2,3,4,5,6,7]
print(min(l))

1

18.Create a list of squares of numbers from 1 to 10.

In [ ]:
l=[i*i for i in range (1,11) ]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19.Create a list of random numbers.

In [ ]:
import random      #importing random for random number
l=[]
for i in range(0,11):
  l.append(random.randint(0,20)) #randint for choosing number from 0 to 20
print(l)

[10, 20, 3, 19, 3, 11, 1, 5, 10, 9, 20]

20.Remove duplicates from a list.

In [ ]:
l=[1,2,3,4,3,4,5,2,3,1]
a=list(set(l))
print(a)

[1, 2, 3, 4, 5]

21.Find the common elements between two lists.

In [ ]:
l1=[1,2,3,4,5,6,9]
l2=[2,3,5]
l3=[]
for i in l1:
  if i in l2:
    l3.append(i)
print(f'by loop: {l3}')

#or
res=list(set(l1).intersection(set(l2)))
print(f'by intersection through set: {res}')

by loop: [2, 3, 5]
by intersection through set: [2, 3, 5]

22.Find the difference between two lists.

In [ ]:
l1=[1,2,3,4,5,6,9]
l2=[2,3,5]
l3=[]
for i in l1:
  if i not in l2:
    l3.append(i)
print(l3)

[1, 4, 6, 9]

23.Merge two lists.

In [ ]:
l1=[1,2,3,4,5,6,9]
l2=[2,3,5]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 9, 2, 3, 5]

24.Multiply all elements in a list by 2.

In [ ]:
l=[i*2 for i in range (1,11) ]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25.Filter out all even numbers from a list.

In [ ]:
l1=[1,2,6,8,7,10,20,43,24,25]
l2=[l1[i] for i in range (len(l1)) if l1[i]%2==0]
print(l2)

[2, 6, 8, 10, 20, 24]

26.Convert a list of strings to a list of integers

In [ ]:
a=['1','2','3','4','5']
x=list(map(int,a))
print(x)

[1, 2, 3, 4, 5]

27.Convert a list of integers to a list of strings.

In [ ]:
a=[1,2,3,4,5]
x=list(map(str,a))
print(x)

['1', '2', '3', '4', '5']

28.Flatten a nested list.

In [ ]:
a=[1,2,3,4,5,6,[8,7,6,5,4,3,2]]
b=[]
for i in a:
  if type(i)==list:
    b.extend(i)
  else:
    b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 8, 7, 6, 5, 4, 3, 2]

29.Create a list of the first 10 Fibonacci numbers.

In [ ]:
a=[]
x=0
y=1
a.append(x)
a.append(y)
for i in range(1,9):
  c=x+y
  x=y
  y=c
  a.append(c)
print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30.Check if a list is sorted.

In [ ]:
a=[1,2,3,4,9,5,6]
if a==sorted(a):               #sorted return the new list in sort form in asc order
  print("list is sorted")
else:
  print("list is not sorted")

list is not sorted

31.Rotate a list to the left by `n` positions.

In [ ]:
a=[1,2,3,4,5,6,7]
n=int(input("enter the number of rotation: "))
for i in range(0,n):
  a.insert(0,a[-1])
  a.pop(-1)
print(a)

enter the number of rotation: 4
[4, 5, 6, 7, 1, 2, 3]

32.Rotate a list to the right by `n` positions

In [ ]:
a=[1,2,3,4,5,6,7]
n=int(input("enter the number of rotation: "))
for i in range(0,n):
  a.append(a[0])
  a.pop(0)
print(a)

enter the number of rotation: 2
[3, 4, 5, 6, 7, 1, 2]

33.Create a list of prime numbers up to 50.

In [ ]:
a=[]
for i in range(2,51):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    a.append(i)
print(a)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34.Split a list into chunks of size `n`.

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
x=[]
b=[]
n=int(input("enter the size of chunk: "))
for i in a:
  b.append(i)
  if len(b)==n:
    x.append(b)
    b=[]
if b:
  x.append(b)
print(x)

enter the size of chunk: 3
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35.Find the second largest number in a list.

In [ ]:
a=[2,3,1,8,6,11,15,13,16,23]
a.sort()
print(a[-2])

16

36.Replace every element in a list with its square.

In [ ]:
a=[3,2,4,5,1,6]
l=[i*i for i in a]
print(l)

[9, 4, 16, 25, 1, 36]

37.Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
a=[3,4,2,5,7,1,8]        # for the unique element in list only
x={}
for i in a:
  x[i]=a.index(i)
print(x)

{3: 0, 4: 1, 2: 2, 5: 3, 7: 4, 1: 5, 8: 6}

38.Shuffle the elements of a list randomly.

In [ ]:
import random
a=[1,2,3,4,5,6,7,8]
random.shuffle(a)
print(a)

[6, 7, 3, 5, 2, 8, 1, 4]

39.Create a list of the first 10 factorial numbers.

In [ ]:
def fact(n):
  if(n==0 or n==1):
    return n
  else:
    return n*fact(n-1)
a=[]
for i in range(1,11):
  x=fact(i)
  a.append(x)
print(a)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40.Check if two lists have at least one element in common

In [ ]:

a=[1,2,3,4,5]
b=[6,7,8]
if len(set(a).intersection(set(b)))>=1:
  print("common element is present")
else:
  print("common element is not present")

common element is not present

41.Remove all elements from a list.

In [ ]:
a=[1,2,3,4,5,6,7,8]
a.clear()
print(a)

[]

42.Replace negative numbers in a list with 0.

In [ ]:
a=[1,3,-1,-2,-3,1,2,3]
for i in a:
  if i<0:
    x=a.index(i)
    a.insert(x,0)
    a.remove(i)
print(a)

[1, 3, 0, 0, 0, 1, 2, 3]

43.Convert a string into a list of words

In [ ]:
a=input("enter a string: ")
print(a.split())

enter a string: Aditya Bisht
['Aditya', 'Bisht']

44.Convert a list of words into a string.

In [ ]:
l=[str(i) for i in input().split()]  #for taking multiple input in a list
print(f'list of words: {l}')
a=''.join(l)
print(f'list of words into string: {a}')

adi bisht uk
list of words: ['adi', 'bisht', 'uk']
list of words into string: adibishtuk

45.Create a list of the first `n` powers of 2.

In [ ]:
n=int(input("enter the number to create a list of:  "))
a=[]
for i in range(1,n+1):
  a.append(2**i)
print(a)

enter the number to create a list of:  5
[2, 4, 8, 16, 32]

46.Find the longest string in a list of strings

In [ ]:
l=['bisht', 'aditya','uk','age']
x=""
for i in l:
  if len(i)>len(x):
    x=i
print(f"the longest string is {x}")

the longest string is aditya

47.Find the shortest string in a list of strings.

In [ ]:
l=['bisht', 'aditya','uk','age']
x=l[0]
for i in l:
  if len(i)<len(x):
    x=i
print(f"the shortest string is {x}")

the shortest string is uk

48.Create a list of the first `n` triangular numbers.

In [ ]:
n=int(input("enter a number: "))
a=[]
sum=0
for i in range(1,n+1):
  sum+=i
  a.append(sum)
print(a)

enter a number6
[1, 3, 6, 10, 15, 21]

49.Check if a list contains another list as a subsequence.

In [ ]:
a=[1,2,3,4,5,6]
b=[2,3,4,5]
for i in b:
  if i in a:
    print("b is subsequence of a")
    break
else:
  print("b is not subsequence of a")

b is subsequence of a

50.Swap two elements in a list by their indices.

In [ ]:
a=[1,2,3,4,5,6,7,8]
b=0
for i in range(0,len(a),2):
  b=a[i]
  a[i]=a[i+1]
  a[i+1]=b
print(a)

[2, 1, 4, 3, 6, 5, 8, 7]

**Tuple**

1.Create a tuple with integers from 1 to 5.

In [ ]:
t=()
a=list(t)
for i in range(1,6):
  a+=[i]
print(tuple(a))

#or
for i in range(1,6):
  t+=(i,)      #, use to take multiple integer
print(t)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

2.Access the third element of a tuple.

In [ ]:

t=(1,2,3,4,5)
print(a[2])

3

3.Find the length of a tuple without using the `len()` function.

In [ ]:
t=(1,2,3,4,5,6)
count= 0
for i in t:
  count+=1
print(count)

6

4.Count the occurrences of an element in a tuple.

In [ ]:
a=(1,2,3,4,5,3,4,3,4,5,6,3,6)
n=int(input("enter the noumber: "))
count= 0
for i in a:
  if i == n:
    count+=1
print(f"the occurance of {n} is {count}")

enter the noumber: 3
the occurance of 3 is 4

5.Find the index of the first occurrence of an element in a tuple.

In [ ]:
a=(1,2,3,4,3,4,5,6,7,8)
n=int(input("enter the noumber: "))
for i in a:
  if i==n:
    x=a.index(i)
    break
print(f"the index of {n} is {x}")

enter the noumber: 3
the index of 3 is 2

6.Check if an element exists in a tuple

In [ ]:
t=(1,2,3,4,5,6,7)
n=int(input("enter an element: "))
for i in t:
  if i==n:
    print(f"{n} is present in tuple")
    break
else:
  print(f"{n} is not present in tuple")

enter an element: 4
4 is present in tuple

7.Convert a tuple to a list.

In [ ]:
t=(1,2,3,4,5,6)
print(list(t))

[1, 2, 3, 4, 5, 6]

8.Convert a list to a tuple.

In [ ]:
t=[1,2,3,4,5]
print(tuple(t))

(1, 2, 3, 4, 5)

9.Unpack the elements of a tuple into variables.

In [ ]:
t=(1,2,3,4,5,6)
for i in t:
  print(i,end=" ")

1 2 3 4 5 6

10.Create a tuple of even numbers from 1 to 10.

In [ ]:
t=()
for i in range(1,11):
  if i%2 ==0:
    t+=(i,)
print(t)

(2, 4, 6, 8, 10)

11.Create a tuple of odd numbers from 1 to 10.

In [ ]:
t=()
for i in range(1,11):
  if i%2 !=0:
    t+=(i,)
print(t)

(1, 3, 5, 7, 9)

12.Concatenate two tuples.

In [ ]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13.Repeat a tuple three times.

In [ ]:
a=(1,2,3,4,5)
print(a*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14.Check if a tuple is empty.

In [ ]:
t=(1,2,3,4)
if t == ():
  print("tuple is empty")
else:
  print("tuple is not empty")

tuple is not empty

15.Create a nested tuple.

In [ ]:
t=()
for i in range(1,10):
  t+=((i,i+1),)
print(t)

((1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9), (9, 10))

16.Access the first element of a nested tuple.

In [ ]:
t=((1,2),(3,4),(4,5))
for i in t:
  print(i[0],end=" ")

1 3 4

17.Create a tuple with a single element.

In [ ]:
n=(int(input("enter a no.")))
t=(n,)
print(t,type(t))

enter a no.1
(1,) <class 'tuple'>

18.Compare two tuples

In [ ]:
a=(1,2,3,4,5)
b=(1,2,1,2,1)
if a==b:
  print("both tuple are same")
else:
  print("they are not same")

they are not same

19.Delete a tuple.

In [ ]:
t=(1,2,3,4,5)
del(t)
print("tuple is deleted")

tuple is deleted

20.Slice a tuple

In [ ]:

a=(1,2,3,4,5)
b=a[1:3]
print(b)

(2, 3)

21.Find the maximum value in a tuple.

In [ ]:
a=(1,2,3,4,5)
print(max(a))

5

22.Find the minimum value in a tuple.

In [ ]:
a=(1,2,3,4,5)
print(min(a))

1

23.Convert a string to a tuple of characters.

In [ ]:
a=input("enter a string: ")
t=()
for i in a :
  t+=(i,)
print(t)

enter a string: adi
('a', 'd', 'i')

24.Convert a tuple of characters to a string.

In [ ]:
t=('a','d','i')
b=''
for i in t:
  b+=i
print(b)

adi

25.Create a tuple from multiple data types.

In [ ]:
a=input("enter a string: ")
b=int(input("enter a no: "))
c=float(input("enter a float: "))
t=(a,b,c)
print(t)

enter a string: adi
enter a no: 100
enter a float: 99.99
('adi', 100, 99.99)

26.Check if two tuples are identical.

In [ ]:
a=(1,2,3,4,5)
b=(1,2,3,4,5)

if a==b:
    print("a and b are identical")
else:
    print("a and b are not identical")

a and b are identical

27.Sort the elements of a tuple.

In [ ]:
t1=(5,2,1,3,4,6,8)
a=list(t1)
a.sort()
t1=tuple(a)
print(t1)

(1, 2, 3, 4, 5, 6, 8)

28.Convert a tuple of integers to a tuple of strings.

In [ ]:
a=(1,2,3,4,5)
b=()
for i in a:
  b+=(str(i),)
print(b)

('1', '2', '3', '4', '5')

29.Convert a tuple of strings to a tuple of integers.

In [ ]:

a=('1', '2', '3', '4', '5', '6')
b=()
for i in a:
  b+=(int(i),)
print(b)

(1, 2, 3, 4, 5, 6)

30.Merge two tuples

In [ ]:
a=(1,2,3,4,5)
b=(1,2,3,4,5)
print(a+b)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

31.Flatten a nested tuple.

In [ ]:
a=(1,(2,3),4,5)
b=[]
for i in a:
  if type(i)==tuple:
    b.extend(i)
  else:
    b.append(i)
print(tuple(b))

(1, 2, 3, 4, 5)