<a href="https://colab.research.google.com/github/adityabisht13/Frisson_Assignment/blob/main/07_may_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Assignment_03***

**Loop**

1.Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1,11):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

2.Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
l=[1,2,3,4,5,6,7]
sum=0
for i in l:
  sum=sum+i
print(sum)

28

3.Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
str_1='aditya'
for char in range(len(str_1)-1,-1,-1):
  print(str_1[char],end=" ")

a y t i d a

4.Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
n=int(input('Enter a no: '))
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

Enter a no: 0
1

5.Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
n=int(input('enter a number: '))
for index,element in enumerate (list(range(n,(n*10)+1,n))):
  print(f'{n} * {index+1} = {element}')

enter a number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6.Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
even=0
odd=0
for i in l:
  if i%2==0:
    even=even+1
  else:
    odd=odd+1
print(f'count of even number {even}')
print(f'count of odd number {odd}')

count of even number 4
count of odd number 5

7.Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
  i=i*i
  print(i,end=" ")

1 4 9 16 25

8.Create a program to find the length of a string without using the `len()` function.

In [ ]:
str_1='aditya'
count=0
for i in str_1:
  count+=1
print(count)

6

9.Write a program that calculates the average of a list of numbers using a `for` loop

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
sum=0
a=len(l)
for i in l:
  sum=sum+i
print(f'average is {sum/a}')

average is 5.5

10.Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
n=int(input('enter a no: '))
a=0
b=1
for i in range(0,n+1):
    print(a,end=" ")
    sum=a+b
    a=b
    b=sum

enter a no: 5
0 1 1 2 3 5

11.Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
l=[1,2,3,2,2,3,4,5,4,6,7]
count=0
for i in l:
  if l.count(i)>1:
    print(f'it contain duplicate')
    break
else:
    print('it does not contain duplicate ')

it contain duplicate

12.Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
n=int(input('enter the range: '))
for i in range (2,n+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

enter the range: 10
2
3
5
7

13.Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
str_1='aditya'
vowel='aeiouAEIOU'
count=0
for i in str_1:
  if i in vowel:
    count+=1
print(f'number of vowels are {count}')

number of vowels are 3

14.Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
l=[[71,81],[91,41],[30,31],[51,61]]
max=0
for i in l:
  for j in i:
    if j>max:
      max=j
print(f'the maximum element in the 2d list is {max}')

the maximum element in the 2d list is 91

15.Create a program that removes all occurrences of a specific element from a list using a `for` loop

In [ ]:
l=[1,2,3,3,3,2,4,3,5,6]
l1=[]
n=int(input('enter the number: '))
remove=[n]
for i in l:
  if i not in remove:
    l1.append(i)
print(l1)

enter the number: 3
[1, 2, 2, 4, 5, 6]

16.Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(f'{i} * {j} = {i*j}' )

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17.Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
l1=[34,45,56,78,88,99] #temp in fahrenheit
l2=[]
for i in l1:
  i=(i-32)*5/9
  l2.append(round(i,2))
print(f'temp in fahrenheit {l1}')
print(f'temp in celsius {l2}')

temp in fahrenheit [34, 45, 56, 78, 88, 99]
temp in celsius [1.11, 7.22, 13.33, 25.56, 31.11, 37.22]

18.Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
l1=[1,2,3,4,5,6,7,8]
l2=[3,4,5,6,10,11]
l3=[]
for i in l1:
  if i in l2:
    l3.append(i)
print(l3)

[3, 4, 5, 6]

19.Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern.

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print('*',end='')
  print()

*
**
***
****
*****

20.Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
a = int(input('1st num: '))
b = int(input('2st num: '))
gcd = 0
if a>b :
    count = a
else:
    count = b
for i in range(1,count+1):
    if a%i == 0 and b%i == 0:
        gcd = i
print(f'greatest common divisor (GCD) of two numbers  is {gcd}')

1st num: 56
2st num: 98
greatest common divisor (GCD) of two numbers  is 14

21.Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
l1=[1,2,3,4,5,6,7,8]
sum=0
l2=[sum:=sum+i for i in l1]
print(sum)

36

22.Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
n=int(input('enter a number: '))
l1=[i for i in range(2,n+1) if n%i==0 and all(i%j !=0 for j in range(2,i)) ]
print(f'prime factor are {l1}')

enter a number: 10
prime factor are [2, 5]

23.Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [ ]:
l1=[1,2,3,4,5,6,1,2,3,4]
l2=[]
l3=[l2.append(i) for i in l1 if i not in l2]
print(l2)

[1, 2, 3, 4, 5, 6]

24.Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [ ]:
n=int(input('enter the range: '))
l1=[i for i in range(10,n) if str(i)== str(i)[::-1]]
print(l1)

enter the range: 50
[11, 22, 33, 44]

25.Write a program to flatten a nested list using list comprehension.

In [ ]:
l1 = [[1, 2], [3, 4, 5], [6, 7]]
l2 = [j for i in l1 for j in i]
print(l2)

[1, 2, 3, 4, 5, 6, 7]

26.Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
even_total=0
odd_total=0
l2=[even_total:=even_total+i for i in l1 if i%2==0]
l3=[odd_total:=odd_total+i for i in l1 if i%2!=0]
print(f'sum of even number is {even_total}')
print(f'sum of odd number is {odd_total}')

sum of even number is 30
sum of odd number is 25

27.Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[i*i for i in l1 if i%2!=0]
print(l2)

[1, 9, 25, 49, 81]

28.Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
l1=['name','age','company']
l2=['adi',21,'frisson']
dict={}
l3=[dict.update({l1[i]:l2[i]}) for i in range(0,len(l1)) ]
print(dict)

{'name': 'adi', 'age': 21, 'company': 'frisson'}

29.Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
str_1='aditya'
vowel='aeiouAEIOU'
l1=[i for i in str_1 if i in vowel]
print(l1)

['a', 'i', 'a']

30.Create a program that removes all non-numeric characters from a list of strings using list comprehension

In [ ]:
l=[1,2,3,4,5,'a','b','c','d',20]
[i for i in l if type(i)== int]

[1, 2, 3, 4, 5, 20]

**Basic If-Else Statements**

1.Write a Python program to check if a given number is positive or negative.

In [ ]:
n = int(input('enter number: '))
if n>=0:
    print('number is positive ')
else:
    print('number is negative')

enter number: 10
number is positive

2.Create a program that determines if a person is eligible to vote based on their age.

In [ ]:
age = int(input('enter age: '))
if age>=18:
    print('person is eligible for vote')
else:
    print('person is not eligible for vote')

enter age: 21
person is eligible for vote

3.Develop a program to find the maximum of two numbers using if-else statements.

In [ ]:
n1= int(input('enter num 1: '))
n2 = int(input('enter num 2: '))
if n1>n2:
    print(f'{n1} is greater')
else:
    print(f'{n2} is greater')

enter num 1: 5
enter num 2: 7
7 is greater

4.Write a Python script to classify a given year as a leap year or not.

In [6]:
y = int(input('enter the year: '))
if y%4==0:
  if y%100!=0 or y%400==0:
    print(f'{y} is a leap year')
else:
    print(f'{y} is not a leap year')

enter the year: 1996
1996 is a leap year

5.Create a program that checks whether a character is a vowel or a consonant.

In [ ]:
vowel = 'aeiouAEIOU'
char = input ('enter the character: ')
if char in vowel:
    print(f'{char} is vowel')
else:
    print(f'{char} is consonant')

enter the character: a
a is vowel

6.Implement a program to determine whether a given number is even or odd.

In [ ]:
a = int(input('enter the number: '))
if a%2==0:
    print('Even')
else:
    print('Odd')

enter the number: 4
Even

7.Write a Python function to calculate the absolute value of a number without using the `abs()` function.

In [ ]:
n = int(input('enter the number: '))
abs = 0
if n < 0:
  abs = 0-n
else:
  abs=n
print(f'absolute value is {abs}')

enter the number: -10
absolute value is 10

8.Develop a program that determines the largest of three given numbers using if-else statements.

In [ ]:
a = int(input('enter the num1: '))
b = int(input('enter the num2: '))
c = int(input('enter the num3: '))
if a>b and a>c:
    print(f'{a} is largest')
elif b>a and b>c:
    print(f'{b} is largest')
else:
    print(f'{c} is largest')

enter the num1: 5
enter the num2: 7
enter the num3: 11
11 is largest

9.Create a program that checks if a given string is a palindrome.

In [ ]:
str = input('enter a string: ')
if str==str[::-1]:
    print(f'{str} is palindrome')
else:
    print(f'{str} is not palindrom')

enter a string: noon
noon is palindrome

10.Write a Python program to calculate the grade based on a student's score.

In [ ]:
marks =int(input ('enter the score: '))
if marks >=90 and marks <=100:
    print ('A+')
elif marks >=80 and marks <90:
    print('A')
elif marks >=70 and marks <80:
    print('B')
elif marks >=60 and marks <70:
    print('C')
elif marks >=50 and marks <60:
    print('Average')
else:
    print(':) pdh lei bhai :)')

enter the score: 40
:) pdh lei bhai :)

**Nested If-Else Statements**

11.Write a program to find the largest among three numbers using nested if-else statements.

In [ ]:
x = int(input('enter the num1: '))
y = int(input('enter the num2: '))
z = int(input('enter the num3: '))
if x>y:
    if x>z:
        print(f'{x} is largest')
if y>x :
    if y>z:
        print(f'{y} is largest')
else:
    print(f'{z} is largest')

enter the num1: 10
enter the num2: 30
enter the num3: 20
30 is largest

12.Implement a program to determine if a triangle is equilateral, isosceles, or scalene.

In [32]:
x = int(input('enter the side1: '))
y = int(input('enter the side2: '))
z = int(input('enter the side3: '))
if x == y :
    if y == z:
        if z==x:
            print('equilateral')
    else:
          print('isosceles')
elif x != y :
    if y== z  :
      print('isosceles')
    else:
      print('scalene')

enter the side1: 13
enter the side2: 12
enter the side3: 12
isosceles

13.Develop a program that checks if a year is a leap year and also if it is a century year.

In [33]:
y = int(input('enter the year: '))
if y%4==0:
  if y%100!=0 or y%400==0:
    print(f'{y} is a leap year')
else:
    print(f'{y} is not a leap year')

enter the year: 1992
1992 is a leap year

14.Write a Python script to determine if a number is positive, negative, or zero.

In [37]:
n=int(input('enter a number: '))
if n>=0:
  if n>0:
    print('it is a positive number')
  else:
    print('number is zero')
else:
  print('it is a negative number')

enter a number: 0
number is zero

15.Create a program to check if a person is a teenager (between 13 and 19 years old).

In [47]:
age=int(input('enter age: '))
if age>=13:
  if age<=19:
    print('person is teenager')
  else:
    print('person is not teenager')
else:
  print('person is not teenager')

enter age: 20
person is not teenager

16.Develop a program that determines the type of angle based on its measure (acute, obtuse, or right).

In [51]:
angle=int(input('enter the angle: '))
if angle>=90:
  if angle>90:
    print('angle is obtuse')
  else:
    print('angle is right angle')
else:
  print('angle is acute')

enter the angle: 90
angle is right angle

17.Write a Python program to calculate the roots of a quadratic equation.

In [53]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))
if a != 0:
    d = b*b - 4*a*c
    if d > 0:
        root1 = (-b + (d)**0.5) / (2*a)
        root2 = (-b - (d)**0.5) / (2*a)
        print("Root 1 =", root1)
        print("Root 2 =", root2)
    else:
        if d == 0:
            root = -b / (2*a)
            print("Root 1 = Root 2 =", root)
        else:
          print('roots are complex')
else:
  print('not a quadratic equation')

Enter a: 2
Enter b: 3
Enter c: 4
roots are complex

18.Implement a program to determine the day of the week based on a user-provided number (1 for Monday, 2 for tuesday ,etc.)

In [78]:
day=int(input('enter day number: '))
if day >1:
  if day>2:
     if day>3:
       if day>4:
        if day>5:
          if day>6:
            if day>7:
              if day>=8:
                print('wrong day number')
            else:
              print('sunday')
          else:
            print('saturday')

        else:
          print('Friday')
       else:
        print('Thursday')


     else:
        print('Wednesday')
  else:
      print('Tuesday')
else:
    print('Monday')

enter day number: 1
Monday

19.Create a program that determines if a year is a leap year and also if it is evenly divisible by 400.

In [85]:
def check_year(y):
  if (y%4==0 ):
    if y%100!=0 or y%400==0:
      print(f'{y} is a leap year')
  else:
     print(f'{y} is not a leap year')
y = int(input('enter the year: '))
check_year(y)
if y % 400 == 0:
  print('year is also evenly divisible by 400')
else:
  print('year is not evenly divisible by 400')

enter the year: 2000
2000 is a leap year
year is also evenly divisible by 400

20.Develop a program that checks if a given number is prime or not using nested if-else statements.